section {
    background-color: #03a5e0da;
    min-height: 650px;
}

/**-----------------------------container ----------------------------*/
.container {
    padding: 80px 0px;
}

#errorMessage {
    color: rgb(255, 4, 4);
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/**-----------------------------search section ----------------------------*/
.search-area {
    width: 40%;
    margin: auto;
    padding-bottom: 40px;
}

.search-area input {
    padding: 15px 100px;
    border-radius: 3px;
    border: none;
}

.search-area .style-btn {
    background-color: #ff5e57;
    color: #fff;
    font-weight: 500;
    border: none;
}

/**-----------------------------meals div ----------------------------*/
#meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

/**-----------------------------meal div ----------------------------*/
.meal {
    width: 90%;
    background-color: rgba(248, 245, 245, 0.548);
    border-radius: 10px;
}

.meal img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.meal h3,
#mealDetails h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 15px 0;
    color: #ff5e57;
}

/**-----------------------------meal Details ----------------------------*/
#mealDetails {
    background-color: #fff;
    width: 40%;
    border-radius: 10px;
    margin: auto;
}

#mealDetails img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#mealDetails h6 {
    padding-left: 50px;
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 700;
}

#mealDetails ul {
    padding-bottom: 20px;
}

#mealDetails ul li {
    list-style: none;
    margin: 8px 18px;
    color: #ff5e57;
    font-weight: 600;
}

/*--------------footer----------------*/
footer {
    text-align: center;
    margin: 0;
    padding: 5px;
    background-color: #532219;
    color: #fff;
}

footer p {
    font-size: 15px;
    padding-top: 15px;
}

/*--------------end----------------*/