section{
    background-color: #fa9959;
    min-height: 650px;
}
.container{
    padding: 80px 0px;
}
.search-area{
    width: 40%;
    margin: auto;
    padding-bottom: 40px;
}
.search-area input{
    padding: 10px 100px;
    border-radius: 3px;
    border: none;
}
#meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    text-align: center;
}
.meal{
    width: 90%;
    color: rgb(8, 24, 255);
    background-color: rgba(248, 245, 245, 0.548);
    border-radius: 10px;
}
.meal img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.meal h3{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 20px 0;
}